:root {
  --cyan: #5cd6ff;
  --green: #53ad52;
  --purple: #b32cce;
  --blue: #165dd0;
  --pink: #ff8fff;
  --yellow: #ffd900;
  --red: #ff3333;
  --rainbow: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
  --gold: linear-gradient(52deg, gold 0%, #f2e9b6 25%, #fefeb3 50%, gold 60%, #feef9d 75%, white 100%);
  --silver: linear-gradient(to right, #D7E1EC, #ebf2f9, #D7E1EC, #ebf2f9);
  --deepshadowcolor: #e0dfdc;
  --deepshadowcolor2: white;
}

html.cheesgle {
  width: 100%;
  height: 100%;
}

html.cheesgle body {
  width: 100%;
  height: 100%;
}

* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

.cyan {
  background: var(--cyan) !important;
}

.green {
  background: var(--green) !important;
}

.purple {
  background: var(--purple) !important;
}

.blue {
  background: var(--blue) !important;
}

.pink {
  background: var(--pink) !important;
}

.yellow {
  background: var(--yellow) !important;
}

.red {
  background: var(--red) !important;
}

.deep-shadow {
  color: var(--deepshadowcolor);
  text-shadow: 0 -1px 0 var(--deepshadowcolor2), 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 22px 30px rgba(0,0,0,0.9);
}

body {
  margin: 0px;

  width: 100vw;
  height: 100vh;

  display: flex;

  align-items: center;
  justify-content: center;

  background: white !important;
  color: black;
}

button, a {
  cursor: pointer;
}

.deep {
  /* border color when active */
  --active-border-color: grey;

  border-color: transparent;
  border-width: 1px;
  border-style: solid;

  text-decoration: none;

  font-size: 1rem;

  padding: 3px;
  border-radius: 2px;
}

button, [class*="material-icons"] {
  /*-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

div#popup-container {
  position: fixed;

  /*top: 40vh;
  bottom: 40vh;
  left: 40vw;
  right: 40vw;*/
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;

  z-index: 100;

  display: flex;

  align-items: center;
  justify-content: center;

  pointer-events: none;
}

div#popup {
  min-width: 300px;
  min-height: 200px;

  width: fit-content;
  height: fit-content;

  max-width: 500px;

  word-break: break-word;

  display: none;

  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-radius: 10px;

  pointer-events: auto;

  -webkit-box-shadow: 0px 0px 31px 20px rgba(101,101,101,0.44); 
  box-shadow: 0px 0px 31px 20px rgba(101,101,101,0.44);
}

div#home-screen {
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: relative;

  z-index: 1;

  font-size: 1rem;

  width: 100%;
}

div#home-screen div#home-btns {
  width: 100%;
  padding: 5px;
}

@media only screen and (max-width: 300px) {
  div#home-screen h1, div#home-screen #title-shadow {
    font-size: 2.5rem;
  }

  div#home-screen div#home-btns {
    grid-template-columns: 1fr 1fr !important;
  }

  div#top-left, div#top-right, div#bottom-right, [class*=material-icons], div#home-screen div#home-btns button {
    font-size: 1rem !important;
  }

  div#death-screen div#death-btns * {
    font-size: 16px;
  }

  div#prize-wheel-screen div#prize-wheel-container {
    width: 95vw;
    height: unset;
    aspect-ratio: 1;
  }
}

div#home-screen h1, div#home-screen #title-shadow {
  font-size: 3rem;
  letter-spacing: .1em;

  text-align: center;
  text-transform: capitalize;

  margin-block-start: 0.67em;
  margin-block-end: 0.67em;

  z-index: 1;

  color: var(--cyan);
}

html.cheesgle div#home-screen h1, div#home-screen #title-shadow {
  color: var(--yellow);
}

div#home-screen #title-shadow {
  display: none;

  color: transparent;
  background: var(--cyan);

  position: absolute;

  z-index: 0;

  top: 0px;

  -webkit-box-shadow: 0px 0px 50px 10px var(--cyan); 
  box-shadow: 0px 0px 50px 10px var(--cyan);
}

div#top-left, div#top-right, div#bottom-right {
  position: fixed;

  top: 0px;
  left: 0px;

  height: min-content;

  display: flex;

  flex-direction: column;

  cursor: default;

  z-index: 2;
}

div#top-right {
  left: unset;
  right: 0px;
}

div#bottom-right {
  top: unset;
  left: unset;
  right: 0px;
  bottom: 0px;
}

div#top-left > *, div#top-right > * {
  display: flex;

  align-items: center;
}

div#nick-container #nick {
  margin-right: 3px;

  border: none;
  outline: none;
}

div#nick-container #nick:empty::before {
  content: 'Nick';
  color: #a8a8a8;
}

div#nick-container i.material-icons {
  height: 18px;
  fill: #a8a8a8;
  color: #a8a8a8;

  cursor: pointer;
}

div#top-left div#account-container > * {
  cursor: pointer;
}

div#top-left div#achievements-container > * {
  cursor: pointer;
}

div#bottom-right div#creative-controls {
  display: none;

  text-align: right;
}

div#home-screen div#home-btns {
  display: grid;

  grid-template-columns: 175px 175px;
  gap: 7.5px;
  justify-content: center;
}

/*div#home-btns button:first-child, div#home-btns button:nth-child(2)*/
div#home-btns button:nth-child(3) {
  grid-column-start: 1;
  grid-column-end: 3;
}

div#home-screen div#home-btns button {
  font-size: 20px;
}

div#account-screen {
  display: none;

  text-align: center;

  z-index: 1;
}

div#achievements-screen {
  display: none;

  text-align: center;

  z-index: 1;
}

div#levels-screen {
  display: none;

  text-align: center;

  z-index: 1;
}

div#multiplayer-screen {
  display: none;

  text-align: center;

  z-index: 2;
}

div#join-game-screen {
  display: none;

  text-align: center;

  z-index: 1;
}

div#join-game-screen input#join-game-id {
  outline: none;
}

div#multiplayer-game-screen {
  display: none;

  grid-template-columns: auto auto;

  max-width: 100vw;
  max-height: 100vh;

  z-index: 1;
}

div#victory-screen {
  display: none;

  text-align: center;
}

div#leaderboard-screen {
  display: none;

  flex-direction: column;
  align-items: center;

  z-index: 1;
}

div#shop-screen {
  display: none;

  text-align: center;

  z-index: 1;
}

div#prize-wheel-screen {
  display: none;

  align-items: center;
  justify-content: center;

  background: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;

  position: fixed;

  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;

  z-index: 2;
}

div#death-screen {
  background: black;

  width: 100vw;
  height: 100vh;

  display: none;

  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div#death-screen * {
  color: white;

  font-size: 20px;
}

div#death-screen > * {
  margin: 5vh 10px;
}

div#container {
  display: none;
}

audio#audio-pop {
  display: none;
}